* {
    margin: 0;
    padding: 0;
}
 /* hover  */
.icon :hover {
    background-color: #054a28;
}
.butto :hover {
    background-color: #054a28;
}
.my-butt2 :hover {
    background-color: #054a28;
}



/* header */


.container {
    width: 1000px;  
    height: 40px;
    justify-content: space-between;
    margin: auto;
    padding: 15px 100px 15px 100px ;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.container img {
   width: 100px;
    padding: 0 30px;
}
.link-parent {
    display: flex;
    align-items: center;
    gap: 22px;
    list-style: none;

}
.link-parent a {
    text-decoration: none;
    color: black;
}

.butt {
    width: 140px;
    height: 40px;
    padding : 10px 13px 10px 13px;
    gap: 10px;
    border-radius: 4px;
    background: #469165;
    color: white;
    border: none;
}




.hero-parent {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    background-image:url(assets/hero-bg.png);
    border-radius: 24px;
    padding: 70px;
    margin: 20px auto;
    width: 1000px;
    height: 400px;
    background-size: cover;
}
.search {
    width: 200px;
    height: 35px;
    width: 229;
    padding : 8px 12px 8px 12px;
    gap: 6px;
    border-radius: 1000px;
    border: none;

}
.hero-parent h1 {
    font-weight: 700;
    font-style: Bold;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin: 10px 20px;
}

.h1 {
    color: white;
} 
.h1 span {
    color: #30B868;

}
.hero-left {
    width: 800px;
    height: 400px;
    gap: 32px;
    margin: 30px auto;
}

.hero-parent p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 10px 20px;
    color: #fff;
    gap: 10px;

}
.icon {
    padding: 0 auto;
    margin:  30px auto;
}
.search2 {
    gap: 35px;
    background: #469165;
    color: #fff;
    border: none;
    width: 150px;
    height: 40px;
    padding: 12px 15px 12px 15px;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
}
.search3 {
    border: 5px solid  black;
    height: 55px;
    width: 200px;
    padding: 12px 15px 12px 15px;
    gap: 35px;
    border-radius: 4px;
    border-width: 1px;
    text-align: center;
    color: #fff;
}

     /* main card  */

.skills {
    padding-top: 30px;
}
.section-heading {
    width: 1000px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.skills-container {
    width: 900px;
    margin: 0 auto;
}

.skill-box {
    display: flex;
    gap: 24px;
    padding-top: 30px;
}

.skill-card {
    width: 250px;
    height: 250px;
    border: 1px solid;
    box-shadow:  1px 2px 10px 1px;
    text-align: center;
    border-radius: 8px;


}
.card {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    background: #F95555;
}
.skill-card img {
    width: 30px;
    height: 30px;
    margin:  0 auto;

}
.recent-news-card {
    width: 800px;
    height: 400px;
    gap: 32px;
    margin: 0 auto;
}

.skill-card h3 {
    font-size: 24px;
    color: black;
    padding-top: 60px;
}

.skill-card p {
    font-size: 16px;
    color: #627382;
    padding-top: 20px;
}



            /* main container  */
.news-card {
     width: 1000px;
     height: 500px;
     margin: 0 auto;
     gap: 30px;
}

.recent-news-card {
     width: 800px;
     height: 500px;
    display: flex;
    align-items: center;
    gap: 35px;
    padding: 50px;
    margin: 0 auto;
}


.recent-news-card .news-img {
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.recent-news-info-div {
    margin: 0 auto;

}

.recent-news-info {
    padding: 30px;
}
.recent-news-info .colo {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 10px;
}

.font {
    font-size: 40px;
}

.pragrep {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-top: 20px;
    padding-bottom: 10px;
}

.pragrep2 {
    margin: 0. auto;
    padding-top: 10px;
}


/* box card  */
.parent {
    padding-top: 50px;
}

.box-card2 {
    width: 900px;
    height: 200px;
    padding: 80px 40px 80px 40px;
    gap: 24px;
    border-radius: 12px;
    text-align: center;
    background: #F7F6F2;
    margin: 0 auto;
}
.box-card2 h1 {
    font-size: 40px;
    font-weight: 700;
    color: #001931;
    padding-bottom: 20px;
}

.card-news-pragrep {
    color: #627382;
    font-size: 14px;
    font-weight: 400;
    gap: 10px;

}


.card-news-pragrep2 {
    color: #627382;
    font-size: 14px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 10px;
}


.my-butt {
    gap: 20px;
    background: #469165;
    color: #fff;
    border: none;
    width: 200px;
    height: 40px;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
}
 
.my-butt2 {
    padding-top: 10px;
}


 /* footer continer  */

.footer-continer {
    padding-top: 50px;
    color: #fff;
}


.man-continer{
    width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #001931;
    gap: 80px;
}          

.man-img{
    width: 130px;
    height: 60px;
    padding-left: 50px;
}

.links {
    width: 200px;
    height: 64px;
}

.end {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    text-align: end;
    justify-content: center;
    background-color: #001931;
    color: #fff;
}


#end2 {
    padding-bottom: 50px;
}









































































































